@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color:black;
  width: 1280px;
  background-color: #F2F2F2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 1200px;
  background-color:#FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.navigation-link-current {
  border-bottom: 2px solid rgba(117, 98, 87, 1);
  padding-bottom: 18px;
}

.icon-search {
  min-width: 20px;
  min-height: 20px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-liked {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  background-image: url("../images/icons/like.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.liked {
  position: absolute;
  color: white;
  background: #7DB54F;
  border-radius: 10px;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  padding-bottom: 4px;
  left: 9px;
  bottom: 11px;
  padding: 0;
}

.liked-number {
  font-size: 10px;
  line-height: 10px;
  padding: 5px 5px 5px 4px;
  text-align: center;
}

.button {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  text-decoration: none;
  line-height: 20px;
  font-size: 16px;
  padding: 8px 50px;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  text-align: center;
}

.brown-button {
  background-color: rgba(117, 97, 87, 1);
}

.blue-button {
  background: #82B3D3;
}

.green-button {
  background: #7DB54F;
}

.big-button {
  font-size: 20px;
  line-height: 36px;
}

.transparent-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.heading-text {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  /* text-align: center; */
}

.block-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 175px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.block-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 85px;
}

.search {
  text-align: center;
  padding: 96px 304px;
}

.search-modal {
  margin-top: 54px;
}

.newsletter {
  color: white;
  background-image: url("../images/Subscribe.jpg");
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px;
}

.newsletter-block {
  width: 475px;
  margin: 0 auto 54px;
}

.field {
  box-sizing: border-box;
  width: 452px;
  border-radius: 4px 0 0 4px;
  background: #F2F2F2;
  padding-left: 20px;
  border: none;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-inner {
  color:black;
  background-image: none;
}

.newsletter-button {
  border-radius: 0 4px 4px 0;
}

.newsletter-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.inner-header-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-left: 70px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-left: 70px;
}

.breadcrumbs-home {
  min-width: 13px;
  min-height: 15px;
  background-image: url("../images/icons/breadcrumbs-home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  min-width: 8px;
  min-height: 20px;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  margin-left: 10px;
}

.breadcrumbs-item {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  margin-right: 10px;
  align-items: center;

}

.catalog-filter-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filters-background {
  color:white;
  width: 100%;
  height: 100%;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 70px;
}

.input-price-min,.input-price-max {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  width: 103px;
  padding: 12px 20px;
  background: #F2F2F2;

}

.input-price-min {
  border-radius: 4px 0 0 4px;
}

.input-price-max {
  border-radius: 0 4px 4px 0;
}

.input-slider {
  width: 288px;
}

/* .input-price::placeholder {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
} */

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  padding-top: 56px;
}

.catalog-filter {
  display: flex;
  gap: 70px;
  margin-left: 70px;
}

/*Кастомные checkbox и radio */

.custom-checkbox {
  position: relative;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  vertical-align: sub;
  /* border: 3px solid transparent; */

}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.real-checkbox:focus + .custom-checkbox {
  box-shadow: 0 0 0 3px #83B3D3

}

.custom-checkbox::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 12px;
  height: 10px;
  background-image: url("../images/icons/checkbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.custom-radio {
  position: relative;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  vertical-align: sub;
  /* border: 3px solid transparent; */
}

.real-radio {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.real-radio:focus + .custom-radio {
  box-shadow: 0 0 0 3px #83B3D3
}

.custom-radio::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.real-radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}

.custom-checkbox:hover, .custom-radio:hover, .control:hover {
  opacity: 0.6;
}

.custom-checkbox:active, .custom-radio:active, .control:active{
  opacity: 0.3;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 150px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-left: 70px;
}

.form-price {
  display: flex;
  margin-bottom: 36px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
}

.hotel-results {
  width: 360px;
  margin: auto 0;
}

.hotel-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 70px;
}

.hotel-card {
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  column-gap: 20px;
  row-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
      "image image"
      "link link"
      "type price"
      "button liked-button"
      "stars rating";
}

.hotel-card-image {
  grid-area: image;
}
.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
  grid-area: type;
  text-align: start;
  margin: 0;
}
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  grid-area: price;
  text-align: end;
  margin: 0;

}
.hotel-card-button {
  grid-area: button;
  box-sizing: border-box;
  padding: 8px 26px;

}
.hotel-card-button.blue-button {
  grid-area: liked-button;
  padding: 8px 20px;
}
.hotel-card-button.green-button {
  grid-area: liked-button;
  padding: 8px 18px;
}
.stars-area {
  grid-area: stars;
  height: 100%;
  display: flex;
  gap: 6px;
  align-items: center;

}
.star {
  background-image: url(../images/icons/star.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.rating {
  grid-area: rating;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
}

.text-rating {
  margin: 0;
}

.hotel-card-title {
  text-transform: capitalize;
  text-align: left;
  margin: 0;
  width: 100%;
}

.hotel-card-link {
  text-decoration: none;
  color: black;
  grid-area: link;
}

.number-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: black;
  margin: 5px auto;
}

.navigation {
  box-sizing: border-box;
  display: flex;
}

.page-header {
  padding-left: 238px;
  padding-right: 70px;
  position: relative;
}

.logo-link {
  position: absolute;
  z-index: 2;
  left: 70px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 440px;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-user {
  margin-left: auto;
  width: 140px;
  justify-content: flex-end;
  margin-right: 20px;

}

.navigation-item{
  padding: 20px 16px;
}

.navigation-icon{
  padding: 22px 12px;
}

.navigation-button{
  box-sizing: border-box;
  width: 160px;
  margin: auto 0;
  padding: 8px 34px;
  /* Обратить внимание */
  white-space: nowrap;
  align-items: center;
}

.advantages {
  text-align: center;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.advantages-item {
  width: 400px;
  padding: 81px 0;
}

.advantages-block {
  padding: 64px 0;
  margin: 0 auto;
  width: 505px;
}

/* .hero {
  width: 1200px;
} */

.banner {
  position: relative;
  width: 100%;
  height: 485px;

}

.welcome-background {
  position: absolute;
}

.divider {
  width: 1200px;
  height: 57px;
  background-image: url("../images/divider.png");
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.welcome-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.reasons-text {
  width: 651px;
  text-align: center;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 69px;
}

/* .reasons {
  width: 1200px;
} */

.reason-card {
  margin: auto;
}

.line {
  height: 2px;
  width: 60px;
  margin: 30px auto;
}

.light-line {
  background-color: rgba(255, 255, 255, 0.3);
}

.dark-line {
background-color: rgba(0, 0, 0, 0.3);
}

.reasons-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1200px;
  margin: 0;
  padding: 0;
  grid-row-gap: 0;
  align-items: stretch;
}

.reasons-item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.reasons-item:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: 2;
}

.reasons-item:nth-child(6) {
  grid-column-start: 3;
  grid-row-start: 3;
}

.reasons-item:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
}

.reasons-item {
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0;
}

.icon-home {
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.icon-food {
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.icon-present {
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/icon-present.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
  background-position: center;
}

.gray-block {
  background: rgba(131, 179, 211, 0.2);
}

.blue-block {
  background: #82B3D3;
  color: white;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: auto 0;
  width: 144px;
  flex-wrap: wrap;
}

.footer-social-item {
  height: 40px;
  width: 48px;
}

.social-button {
  display: flex;
  margin: auto;
  height: inherit;
  align-items: center;
}

.icon-vk {
  background-image: url("../images/icons/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 24px;
  height: 14px;
  margin: auto;
}

.icon-tg {
  background-image: url("../images/icons/tg.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 18px;
  min-height: 16px;
  margin: auto;
}

.icon-yt {
  background-image: url("../images/icons/yt.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 22px;
  min-height: 17px;
  margin: auto;
}

.htmlacademy-link {
  margin: auto 0;
}

.wrapper-sort {
  display: flex;
  margin: 50px 70px 40px 70px;
}

.sorting-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
  /* margin-left: auto; */
  padding: 0;
  gap: 8px;
}

.icon-list-six {
  width: 48px;
  height: 48px;
  background-image: url("../images/icons/icon-list-six.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
  border-radius: 4px;
}

.icon-for-one {
  width: 48px;
  height: 48px;
  background-image: url("../images/icons/icon-for-one.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.icon-list {
  width: 48px;
  height: 48px;
  background-image: url("../images/icons/icon-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.divider-line {
  width: 1060px;
  height: 1px;
  background-color: rgba(230, 230, 230, 1);
  margin: 40px auto;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 8px;
  margin-left: 70px;

}

.pagination-item {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  line-height: 36px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 4px;
  background: #82B3D3;
}

.pagination-link{
  color: inherit;
  text-decoration: none;
  margin: auto;
}

.pagination-item:first-child {
  background: #F2F2F2;
  color: #000000;
}

.pagination-item:nth-child(5) {
  background: #ffffff;
  color: #000000;
}
