@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(ptsans-400.woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: url(ptsans-700.woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color:black;
  width: 1280px;
  height: 2244px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: black;
}
.button {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  text-decoration: none;
  line-height: 20px;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

.brown-button {
  background-color: rgba(117, 97, 87, 1);
}

.blue-button {
  background: #82B3D3;
}

.green-button {
  background: #7DB54F;
}

.big-button {
  font-size: 20px;
  line-height: 24px;
}

.transparent-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.heading-text {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.block-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.block-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.rating {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
}

.reasons-item {
  background: rgba(131, 179, 211, 0.12);
}

.gray-block {
  background: rgba(131, 179, 211, 0.2);
}

.newsletter {
  color: white;
  background-image: url("../images/Subscribe.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  width: 1200px;
  height: 414.86px;
  text-align: center;
}
.newsletter-inner {
  color:black;
  background-image: none;
}

.inner-header-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filters-background {
  color:white;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-title {
  text-transform: capitalize;
}

.hotel-card-link {
  text-decoration: none;
  color: black;
}

.number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: black;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  column-gap: 16px;
}

.advantages-list {
  list-style-type: none;
}

.reasons-list {
  list-style-type: none;
}

.reasons-item:first-child, .reasons-item:last-child {
  background: #82B3D3;
  color: white;
}
