@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color:#000000;
  min-width: 1280px;
  background-color: #F2F2F2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper {
  width: 1200px;
  background-color:#FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.navigation-link {
  display: block;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  height: 100%;
  padding: 20px 16px;
  box-sizing: border-box;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
  top: 63px;
  right: 16px;
  left: 16px;
  z-index: 10;
}

.navigation-link:not(.navigation-link-current):hover {
  opacity: 0.7;
}

.navigation-link:not(.navigation-link-current):active {
  opacity: 0.4;
}

.icon-liked::after {
  content: "";
  position: absolute;
  background: #7DB54F;
  border-radius: 10px;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  padding-bottom: 4px;
  left: 20px;
  top: 11px;
  padding: 0;
}

.liked-number {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  left: calc(50% - 11px/2 + 7.5px);
  top: calc(50% - 10px/2 - 11px);
  z-index: 1;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.button {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  text-decoration: none;
  line-height: 20px;
  font-size: 16px;
  padding: 8px 50px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.navigation {
  box-sizing: border-box;
  display: flex;
}

.page-header {
  padding-left: 238px;
  padding-right: 70px;
  position: relative;
}

.logo-link {
  position: absolute;
  z-index: 2;
  left: 70px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 520px;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-user {
  margin-left: auto;
  width: 190px;
  justify-content: flex-end;
  margin-right: 20px;

}

.navigation-item {
  line-height: 24px;
  font-size: 20px;
  height: 100%;
}

.icon-search {
  display: block;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 44px;
  min-height: 20px;
  padding: 22px 12px;
}

.icon-liked {
  display: block;
  position: relative;
  background-image: url("../images/icons/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 44px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-icon{
  padding: 0;
}

.navigation-button{
  box-sizing: border-box;
  margin: auto 0;
  padding: 8px 34px;
  white-space: nowrap;
  align-items: center;
}

.advantages {
  text-align: center;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item {
  padding: 81px 85px;
}

.advantages-block {
  padding: 64px 0;
  margin: 0 auto;
  width: 505px;
}

.block-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 85px;
  color: #333333;
}

.blue-block .block-description {
  color: #FFFFFF;
}

.block-title-advantages {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.advantages-home .block-title-advantages::before {
  content: '';
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-food .block-title-advantages::before {
  content: '';
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-present .block-title-advantages::before {
  content: '';
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/icon-present.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
  background-position: center;
}

.block-description-advantages {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  display: inline-block;
  width: 230px;
  margin: 0;
  color: #333333;
}

.advantages-text {
  margin: 0;
  margin-top: 20px;
  color: #333333;
}

.banner {
  position: relative;
  height: 485px;
  background-color: #5dc00cc7;
}

.welcome-background {
  position: absolute;

}

.banner::after {
  content: "";
  width: 1200px;
  height: 57px;
  background-image: url("../images/divider.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: -1px;
}

.welcome-text {
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  margin: auto;
}

.reasons-text {
  width: 651px;
  text-align: center;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 90px;
}

.reasons-description {
  margin: 0;
  margin-top: 25px;
  color:#333333;
}

.reasons-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  margin: 0;
  padding: 0;
  gap: 0;
}

.reasons-item.blue-block {
  grid-column: 1 / 4
}

.reasons-item {
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
  display: flex;
  flex-direction: row;
  min-width: 400px;
  margin: 0;
}

.reason-card {
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.reason-card::after {
  content: '';
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);;
  position: absolute;
  top: 86px;
  left: 170px;
}

.blue-block .reason-card::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.gray-block {
  background: rgba(131, 179, 211, 0.2);
}

.blue-block {
  background-color: rgba(130, 179, 211, 1);
  color: #ffffff;
}

.brown-button {
  background-color: rgba(117, 97, 87, 1);
}

.brown-button:hover,.brown-button:focus {
  background-color: #615048;
  outline: none;
}

.brown-button:active,.blue-button:active,.green-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.brown-button:disabled,.blue-button:disabled,.green-button:disabled {
  background: #E5E5E5;
  outline: none;
}

.blue-button {
  background: #82B3D3;
}

.blue-button:hover,.blue-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.green-button {
  background: #7DB54F;
}

.green-button:hover,.green-button:focus {
  background-color: #6C9E42;
  outline: none;
}

.big-button {
  font-size: 20px;
  line-height: 36px;
}

.transparent-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-sizing: border-box;
}

.transparent-button:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.transparent-button:hover, .breadcrumbs-item:hover {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.transparent-button:active, .breadcrumbs-item:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.transparent-button:disabled {
  color: rgba(255, 255, 255, 0.1);
  outline: none;
}

.heading-text {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.block-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 175px;
  margin: auto;
  text-align: center;
  margin-bottom: 62px;
}

.search {
  text-align: center;
  padding: 96px 304px;
}

.search-description {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 54px;
  color: #333333;
}

.newsletter {
  color: #ffffff;
  background-color: #615048;
  background-image: url("../images/Subscribe.jpg");
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px;
}

.newsletter-inner {
  color:#000000;
  background-image: none;
  background-color: #FFFFFF;
}

.newsletter-field {
  box-sizing: border-box;
  width: 452px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  border-radius: 4px 0 0 4px;
  background: #F2F2F2;
  padding: 14px 0;
  padding-left: 20px;
  border: none;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
}

.newsletter-button {
  border-radius: 0 4px 4px 0;
}

.newsletter-title {
  display: inline-block;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 54px;
}

.inner-header-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  min-width: 8px;
  min-height: 20px;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  margin-left: 10px;
}

.breadcrumbs-item {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  margin-right: 10px;
  align-items: center;
}

.breadcrumbs-home {
  min-width: 13px;
  min-height: 16px;
  background-image: url("../images/icons/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.breadcrumbs-home:hover {
  opacity: 0.6;
}

.breadcrumbs-home:active {
  opacity: 0.3;
}

.catalog-filter-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filters-background {
  color:#ffffff;
  background-color: #615048;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  padding-top: 56px;
}

.catalog-filter {
  display: flex;
  gap: 70px;
}

/*Кастомные checkbox и radio */

.custom-checkbox {
  position: relative;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  vertical-align: sub;
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.real-checkbox:focus + .custom-checkbox {
  box-shadow: 0 0 0 3px #83B3D3
}

.custom-checkbox::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 12px;
  height: 10px;
  background-image: url("../images/icons/checkbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.custom-radio {
  position: relative;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  vertical-align: sub;
}

.real-radio {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.real-radio:focus + .custom-radio {
  box-shadow: 0 0 0 3px #83B3D3
}

.custom-radio::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.real-radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}

.custom-checkbox:hover, .custom-radio:hover, .control:hover {
  opacity: 0.6;
}

.custom-checkbox:active, .custom-radio:active, .control:active{
  opacity: 0.3;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 150px;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-left: 70px;
}

.form-price {
  display: flex;
  margin-bottom: 44px;
  position: relative;
}

.form-price::before {
  content: 'от';
  width: 17px;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  position: absolute;
  z-index: 10;
  opacity: 0.3;
  top: 12px;
  right: 164px;
}

.form-price::after {
  content: 'до';
  width: 17px;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  position: absolute;
  z-index: 10;
  opacity: 0.3;
  top: 12px;
  right: 20px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.select-control {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  min-width: 292px;
  margin-left: auto;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px 20px;
  padding-right: 50px;
  appearance: none;
  overflow: hidden;
  background-image: url('../images/icons/arrow-down.svg');
  background-position-x: 257px;
  background-position-y: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #FFFFFF;
}

.select-control option {
  background-color: #FFFFFF;
}

.hotel-results {
  margin: auto 0;
  text-transform: uppercase;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.hotel-card {
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  column-gap: 20px;
  row-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
      "image image"
      "link link"
      "type price"
      "button liked-button"
      "stars rating";
}

.hotel-card-image {
  display: block;
  margin: 0;
}

.hotel-card-image-link {
  grid-area: image;
}

.hotel-card-type {
  font-size: 18px;
  display: block;
  line-height: 21px;
  grid-area: type;
  text-align: start;
  margin: 0;
  color: #333333;
}
.hotel-card-price {
  font-size: 18px;
  display: block;
  line-height: 21px;
  grid-area: price;
  text-align: end;
  margin: 0;
  color: #333333;

}
.hotel-card-button {
  grid-area: button;
  box-sizing: border-box;
  padding: 8px 26px;

}
.hotel-card-button.blue-button {
  grid-area: liked-button;
  padding: 8px 20px;
  min-width: 140px;
}
.hotel-card-button.green-button {
  grid-area: liked-button;
  padding: 8px 18px;
  min-width: 140px;

}
.stars-area {
  grid-area: stars;
  height: 100%;
  display: flex;
  gap: 6px;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.star {
  background-image: url(../images/icons/star.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.rating {
  grid-area: rating;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.text-rating {
  margin: 0;
}

.hotel-card-title {
  text-align: left;
  margin: 0;
  width: 100%;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  /* Для ровного браузерного фокуса на элемента нужно увеличить значение line-height до 32px */
  line-height: 28px;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
  grid-area: link;
}

.number-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  margin: 5px auto;
}

.number-phone:hover,.number-phone:focus {
  color: rgba(117, 97, 87, 1);
  outline: none;
}

.number-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: auto 0;
  width: 144px;
  flex-wrap: wrap;
}

.social-button {
  display: flex;
  margin: 0;
  width: 48px;
  min-height: 40px;
}

.social-button svg {
  display: block;
  margin: auto;
}

.social-button:hover path, .social-button:focus path {
  fill: rgba(104, 162, 202, 1);
  outline: none;
}

.social-button:focus {
  outline: none;
}

.social-button:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.htmlacademy-link {
  margin: auto 0;
}

.htmlacademy-link:hover path, .htmlacademy-link:focus path, .htmlacademy-link:focus {
  fill: rgba(117, 97, 87, 1);
  outline: none;
}

.htmlacademy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.searching-results {
  padding: 50px 70px 60px;
}

.wrapper-sort {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.sorting-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.sorting-list-item {
  height: 100%;
}

.sort-link {
  width: 48px;
  min-height: 14px;
  display: block;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sort-link:focus,
.select-control:focus-visible,
.select-control:hover {
  border-color:#68A2CA;
  outline: none;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.sort-list-active,
.sort-link:active,
.sort-link:hover {
  border-color: #000000;
  outline: none;
}

.icon-list-six {
  background-image: url("../images/icons/icon-list-six.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-for-one {
  background-image: url("../images/icons/icon-for-one.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-list {
  background-image: url("../images/icons/icon-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-list::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(230, 230, 230, 1);
  margin: 20px auto 40px;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.pagination-item {
  display: flex;
  align-items: center;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  line-height: 36px;
  font-size: 20px;
  color: #000000;
  border: none;
  border-radius: 4px;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
  width: 60px;
  height: 60px;
  text-align: center;
  display: flex;
}

.pagination-link span{
  margin: auto;
}

.pagination-item.blue-button {
  background: #82B3D3;
  color: white;
}

.pagination-item.pagination-current {
  background-color: #F2F2F2;
}

.blue-button .pagination-link:hover, .blue-button .pagination-link:focus {
  outline: none;
  border-radius: 4px;
  background-color: rgba(104, 162, 202, 1);
}

.blue-button .pagination-link:active {
  outline: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

/* Range */
.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;

}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 5px;
}

.range-toggle:hover {
  background-color: rgb(203, 203, 203);
}

.range-toggle:active,
.range-toggle:focus-visible {
  outline: 3px solid rgba(131, 179, 211, 1);
}

/* Убирает стрелочки у input number */
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  left: 207px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  width: 103px;
  padding: 12px 20px;
  background: #F2F2F2;
  border: none;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}

.input-price-min {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
  position: relative;
}

.input-price-max {
  border-radius: 0 4px 4px 0;
}

.input-slider {
  width: 288px;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1000;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 10000;
}

.modal-hidden {
  display: none;
}

.modal-title {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 64px;
}

.modal-search {
  width: 717px;
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
}

.modal-close-button svg {
  display: block;
  margin: auto;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active,
.modal-close-button:active path {
  background-color: #E6E6E6;
  fill: rgba(0, 0, 0, 0.3);
}

.field-group {
  font-family: 'PT Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.modal-field {
  font-family: 'PT Sans Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.date-field {
  padding: 12px 20px 12px 20px;
  width: 440px;
  box-sizing: border-box;
  margin-left: auto;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  background-image: url('/images/icons/calendar.svg');
  background-position-x: 400px;
  background-position-y: center;
  background-repeat: no-repeat;
}

.date-group {
  margin-bottom: 48px;
  position: relative;
}

.date-in::after {
  content: 'Мы не можем отправить вас в прошлое.';
  position: absolute;
  padding: 0 20px;
  color: rgba(255, 87, 87, 1);
  bottom: -25px;
  left: 137px;
  font-size: 16px;
  line-height: 21px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

.date-out::after {
  content: 'На эти даты есть свободные номера. Пока есть.';
  position: absolute;
  padding: 0 20px;
  color: rgba(51, 51, 51, 1);
  bottom: -25px;
  left: 137px;
  font-size: 16px;
  line-height: 21px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

.value-people-wrapper {
  display: flex;
  margin-bottom: 48px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.value-people-label + .value-people-input {
  margin-left: 46px;
}

.people-form {
  width: 31px;
  border: none;
  padding: 14px 10px;
  text-align: center;
  box-sizing: border-box;
  background-color: #F2F2F2;
  line-height: 20px;
}

.people-form:focus-visible {
  outline: none;
}

.date-field:hover {
  background-color: #E6E6E6;
}

.date-field:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.date-field:active {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
}

.value-people-input {
  display: flex;
  background-color: #F2F2F2;
  width: 110px;
  border-radius: 4px;
}

.value-people-button {
  width: 40px;
  padding: 14px 10px;
  display: flex;
}

.plus-minus {
  min-width: 20px;
  min-height: 20px;
  margin: auto;
  padding: 0;
  border: none;
  cursor: pointer;
}

.plus-minus svg {
  display: block;
  margin: auto;
}

.plus-minus:hover path {
  fill: #000000;
}

.plus-minus:focus-visible, .plus-minus:focus-visible path {
  box-shadow: 0 0 0 3px #83B3D3;
  border-radius: 4px;
  fill: #000000;
  outline: none;
}

.plus-minus:active path {
  fill: rgba(0, 0, 0, 0.2);
}

.value-kids {
  display: flex;
}

.searching-button {
  display: block;
  width: 100%;
  padding: 18px 0;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
}

.info {
  content: '';
  width: 26px;
  height: 26px;
  margin: auto 0;
  background-color: rgba(131, 179, 211, 1);
  border-radius: 50%;
  background-image: url('../images/icons/info.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 10px;
}

/* Подсказка */
[data-tooltip] {
  position: relative;
}

[data-tooltip]::before {
  content: '';
  position: absolute;
  background-image: url('../images/icons/tooltip-element.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 9px;
  opacity: 0;
  top: 15px;
  left: 11px;
  transform: translateX(-50%);
}

[data-tooltip]:hover::before {
  opacity: 1;
  top: 35px;
 }

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  width: 256px;
  left: 11px;
  transform: translateX(-50%);
  top: 15px;
  background: #333333;
  color: #ffffff;
  padding: 15px 18px 18px 22px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  pointer-events: none;
  opacity: 0;
  box-sizing: border-box;
 }

 [data-tooltip]:hover::after {
  opacity: 1;
  top: 43px;
 }
